<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<form>
    <p>Do you have a family?</p>
    <input type="radio" id="family-no" name="family" value="no"><label for="family-no">No</label>
    <input type="radio" id="family-neutral" name="family" value="neutral"><label for="family-neutral">Personal Use</label>
    <input type="radio" id="family-yes" name="family" value="yes"><label for="family-yes">Yes</label>

    <p>What type of distances do you travel?</p>
    <input type="radio" id="distances-very-short" name="distances" value="very-short"><label for="distances-very-short">Very Short</label>
    <input type="radio" id="distances-short" name="distances" value="short"><label for="distances-short">Short</label>
    <input type="radio" id="distances-neutral" name="distances" value="neutral"><label for="distances-neutral">Neutral</label>
    <input type="radio" id="distances-long" name="distances" value="long"><label for="distances-long">Long</label>
    <input type="radio" id="distances-very-long" name="distances" value="very-long"><label for="distances-very-long">Very Long</label>

    <br><button type="submit">Submit</button>
</form>
    
</body>
</html>